@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter';
    overflow: hidden;
}

label, input {
font-family:'Bahnschrift';
font-weight: 500;

}

#sidebar {
    background: rgb(94, 51, 108);
    background: linear-gradient(118deg, rgba(94, 51, 108, 1) 25%, rgba(42, 21, 48, 1) 95%);
}

#landing {
    background: rgb(122, 72, 137);
    background: radial-gradient(circle, rgba(122, 72, 137, 1) 11%, rgba(54, 35, 73, 1) 69%, rgba(31, 22, 51, 1) 100%);
}